body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #333; /* Dark background */
  color: #eee; /* Light text color */
}

.spacing1 {
  padding: 50px;
}

.container1 {
  max-width: 600px;
  margin: 0 auto;
  padding: 1rem;
  border: 1px solid #555; /* Darker border */
  border-radius: 0.5rem;
  background: #444; /* Dark container background */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

h1 {
  text-align: center;
  margin-bottom: 1.5rem;
  color: #ddd; /* Light text color */
}

form {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  color: #ccc; /* Lighter text color */
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
input[type="checkbox"] {
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 0.25rem;
  border: 1px solid #555; /* Darker border */
  background-color: #666; /* Dark input background */
  color: #eee; /* Light text color */
}

input[type="checkbox"] {
  margin-right: 0.5rem;
}

button {
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  border: none;
  background-color: #ff7f50;
  color: #fff;
  cursor: pointer;
  margin-top: 1rem;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #ff6347;
}

table {
  margin-top: 2rem;
  border-collapse: collapse;
  width: 80%;
  border: 1px solid #888; /* Darker border */
  margin: 0 auto;
  background-color: #555; /* Dark table background */
}

th,
td {
  border: 1px solid #888; /* Darker border */
  padding: 0.5rem;
  text-align: left;
  color: #eee; /* Light text color */
}

caption {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  color: #ddd; /* Light text color */
}

label:hover {
  color: #ff6347;
  cursor: pointer;
}

input[type="text"]:hover,
input[type="email"]:hover,
input[type="password"]:hover,
input[type="date"]:hover,
input[type="checkbox"]:hover {
  border-color: #ff6347;
}

th,
td {
  color: #eee; /* Light text color */
  transition: background-color 0.3s ease;
}

th:hover,
td:hover {
  background-color: #777; /* Darker background on hover */
  transition: background-color 0.3s ease;
}
